<div class="box">
  <form class="query">
    user_token:   <input type="text" name="user_token"><br>
    gender: <input type="text" name="gender"><br>
    <input type="submit" value="find friends" id="find_friends">
  </form>
</div>
<div id="friend_list">
  <% @friends.each do |friend|  %>
    <div class="box" data="<%= friend %>"><img src="<%= friend['avatar_url'] %>" >
    <%= friend["first_name"] + ' ' + friend["last_name"] + ' ' + friend["gender"]%><br>

    <%= render partial: "friend_save_form", locals: { friend: friend } %>
    
    </div>
  <% end %>
</div>